<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body, html {
        overflow-x: hidden;
    }
</style>
<body>
    <footer class="bg-white text-gray-700 py-8">
        <div class="container mx-auto flex ml-5 flex-wrap">
            <div class="w-full md:w-1/4 lg:w-1/4 px-4 mb-4 border-r border-gray-600">
                <h2 class="text-xl font-semibold mb-4">ABOUT</h2>
                <ul class="text-sm">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">LuxLifeHub Stories</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">LuxLifeHub Wholesale</a></li>
                    <li><a href="#">Cleartrip</a></li>
                    <li><a href="#">Corporate Information</a></li>
                </ul>
            </div>
            <div class="w-full md:w-1/4 lg:w-1/4 px-4 mb-4 border-r border-gray-800">
                <h2 class="text-xl font-semibold mb-4">HELP</h2>
                <ul class="text-sm">
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Cancellation & Returns</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Report Infringement</a></li>
                </ul>
            </div>
            <div class="w-full md:w-1/4 lg:w-1/4 px-4 mb-4 border-r border-gray-600">
                <h2 class="text-xl font-semibold mb-4">CONSUMER POLICY</h2>
                <ul class="text-sm">
                    <li><a href="#">Cancellation & Returns</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Grievance Redressal</a></li>
                    <li><a href="#">EPR Compliance</a></li>
                </ul>
            </div>
            <div class="w-full md:w-1/4 lg:w-1/4 px-4 mb-4">
                <h2 class="text-xl font-semibold mb-4">SOCIAL</h2>
                <ul class="text-sm">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">YouTube</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="container mx-auto px-4 mt-6">
            <div class="text-sm">
                Mail Us: LuxLifeHub Internet Private Limited,
                Buildings Alyssa, Begonia & Clove Embassy Tech Village,
                Outer Ring Road, Devarabeesanahalli Village,
                Bengaluru, 560103, Karnataka, India
                <br>
                Registered Office Address: LuxLifeHub Internet Private Limited,
                Buildings Alyssa, Begonia & Clove Embassy Tech Village,
                Outer Ring Road, Devarabeesanahalli Village,
                Bengaluru, 560103, Karnataka, India
                <br>
                © 2023 www.luxlifehub.com. All rights reserved.
                <br>
                Telephone: 8891269078
            </div>
        </div>
    </footer>
</body>
</html>